* {
  margin: 0;
}

.App{
  background-color: #fafafa;
  

}

.app_posts{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight{
  margin-left: 20px;
}

.app__header{
  /*object-fit: keeps the aspect ratio of the logo same irrespective of the width of the container,
   i.e, prevent stretching of the logo
   */
  object-fit: contain;   
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app__headerImage{
  object-fit: contain;
}

.app__signUp{
  display: flex;
  flex-direction: column;
}